body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(210, 60%, 98%);
}

main{
    background-color: hsl(210, 60%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    font-size: 1rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680px;
    padding: 20px;
}

.content-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num3{
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    margin-left: -190px;
}

.box-size{
    background-color: hsl(210, 60%, 98%);
    display: flex;
    padding: 15px;
    align-items: center;
    margin: 5px;
}

.img-size{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.img-Rizky{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
    top: -50px;
}

.read{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    padding: 15px;
    align-items: center;
    margin-top: -5px;
}

.message{

    padding: 20px;
}